/*  your css code here. If applicable */
#c1{background-color:#011e29;
   color:white;
  text-align:center;}
.child{display:flex;
	  background-color:#f5f5f5;}
.child-1,.child-2,.child-3{
	padding:15px;
}
