/*  your css code here. If applicable */
#header{background-color:#011e29;
   color:white;
  text-align:center;
   font-size:25px}
.child{display:flex;
	  }
.child-1,.child-2,.child-3{
	background-color:#f5f5f5;
	padding:15px;
    width:100%;
	text-align:center;
	border-radius:15px;
}

